
* {
  box-sizing: border-box;
}
body {
  color: #576366;
  background: #5fcf80;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h2 {
  color: #404040;
  font-size: 1.6em;
  margin-bottom: 1.25em;
}
ul {
  list-style-type: none;
}
li{
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  font-size: 26px;
}
a {
  text-decoration: none;
  color: #3b80d1;
}
hr {
  border: 0;
  height: 0;
  margin: 2.3em 0 2em 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
